.print-content
  margin: 0 auto
  .print-content-inner
    position: relative
  .content-head
    height: auto
  .content-body
    table
      thead
        background: rgba(242, 242, 242, 1)
      th
        text-align: center
        border: 1px solid #1a1a1a
        font-weight: 400
      td
        font-size: 12px
        border: 1px solid #1a1a1a
        word-wrap: break-word
        word-break: break-all
        padding: 0 4px
        position: relative
        // &:after
        //   content: ''
        //   position: absolute
        //   top: 50%
        //   left: 0
        //   transform: translateY(-50%)
        //   border-top: 1px solid red
        //   width: 100%
        // &:first-child
        //   &:after
        //     left: 10px
        // &:last-child
        //   &:after
        //     width: calc(100% - 10px)
        .zh
          width: 12px
        .en
          width: 8px
        span
          display: inline-block
  .content-foot
    height: auto